*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: url('https://unsplash.com/photos/r5nqyGajgAs/download?force=true');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fefefe;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 300;
}

.container{
    width: 100%;
    color: #fefefe;
}

.control{
    position: absolute;
    width: 90vw;
    padding: 15px;
    margin-top: 28vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,0, .8);
}


.control-logo{
   width: 180px;
   margin: 0 auto;
   text-align: center;
}

.control-name{
    font-weight: 800;
    margin: .8em 0;
}

input{
    font-size: 12pt;
    margin: .5em 0;
    padding: 5px 10px;
}

input:last-child{
    margin: 1em 0;
}

@media only screen and (min-width: 720px) {
    .control{
        width: 30vw;
        left: 33.3333vw;
    }

    .control-logo{
        width: 180px;
    }
}